<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>{% block title %}{% endblock %} Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/base.css">
        
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Test App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="/auth/login" id="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
{% block body %}
{% endblock %}

{% block javascript %}
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(function(){
            if(localStorage.getItem('refresh_token')){
                $('#login').hide()
            }else{
                $('#logout').hide()
            }
            $('#logout').on('click', function(e){
                e.preventDefault();
                var access_token = localStorage.getItem('access_token');
                var refresh_token = localStorage.getItem('refresh_token');
                var revoke_access = $.ajax({
                    contentType : 'application/json',
                    type : 'DELETE',
                    url: '/auth/access_revoke',
                    async: false,
                    headers: { "Authorization": 'Bearer ' + access_token }
                });
                var revoke_refresh = $.ajax({
                    contentType : 'application/json',
                    type : 'DELETE',
                    url: '/auth/refresh_revoke',
                    async: false,
                    headers: { "Authorization": 'Bearer ' + refresh_token }
                });
                $.when(revoke_access, revoke_refresh).then(function (resp1, resp2) {
                }).fail(function(jqXHR, textStatus) {
                    alert(jqXHR.responseJSON.msg);
                }).always(function(){
                    localStorage.removeItem('access_token')
                    localStorage.removeItem('refresh_token')
                    window.location = "/auth/login"
                });
            })
            /*$('#refresh').on('click', function(e){
                e.preventDefault();
                var token = localStorage.getItem('refresh_token');
                $.ajax({
                    contentType : 'application/json',
                    type : 'POST',
                    url: '/refresh',
                    async: false,
                    headers: { "Authorization": 'Bearer ' + token },
                    success: function(data){
                        localStorage.setItem('access_token', data.access_token)
                    }
                })
            })*/
        })
    </script>
{% endblock %}
</body>
</html>