{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block page_name %}Login{% endblock %}

{% block body %}
    <form class="form-signin" _lpchecked="1">
        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" autocomplete="off">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" autocomplete="off">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
{% endblock %}

{% block javascript %}
{{ super() }}
<script>
    $(function(){
        $('form').on('submit', function(e){
            e.preventDefault();
            var email = $('#inputEmail').val(),
                password = $('#inputPassword').val();
            $.ajax({
                data : JSON.stringify({"email": email, "password" : password}),
                contentType : 'application/json',
                type : 'POST',
                url: '/auth/login',
                async: false
            }).done(function(data) {
                localStorage.setItem('access_token', data.access_token)
                localStorage.setItem('refresh_token', data.refresh_token)
                window.location = '/';
            }).fail(function(jqXHR, textStatus) {
                alert(jqXHR.responseJSON.msg);
            })
        })
    })
</script>
{% endblock %}
