{% extends "base.html" %}
{% block title %}Users{% endblock %}

{% block page_name %}User Create/Update/Delete Page{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h2>Users management</h2>
            <input id="url_user_id" type="hidden" value="{{ user_id }}" />
            <div class="section editor">
                <div>
                    <span>User ID:</span>
                    <span id="user_id"></span>
                </div>
                <input type="text" id="first_name" class="form-control" placeholder="First name">
                <input type="text" id="last_name" class="form-control" placeholder="Last name">
                <input type="email" id="email" class="form-control" placeholder="E-mail address">
                <input type="password" id="password" class="form-control" placeholder="Password">
                <hr/>
                <button class="btn btn-primary" id="create">Create</button>
                <button class="btn btn-primary" id="update">Update</button>
                <button class="btn btn-primary" id="delete">Delete</button>
                <button class="btn btn-primary" id="reset">Reset</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 users">
                <h2>Users</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>E-mail</th>
                        </tr>
                    </thead>
                </table>
                <div class="error alert alert-danger"></div>
            </div>
        </div>
    </div>

<!-- Handlebars script tag entry -->
{% raw %}
<script id="users-table-template" type="text/x-handlebars-template">
    <tbody>
        {{#each users}}
            <tr data-id="{{id}}" data-first_name="{{first_name}}" data-last_name="{{last_name}}" data-email="{{email}}">
                <td class="name">{{first_name}}</td>
                <td class="name">{{last_name}}</td>
                <td class="name">{{email}}</td>
            </tr>
        {{/each}}
    </tbody>
</script>
{% endraw %}

{% endblock %}

{% block javascript %}
{{ super() }}
<script src="/static/js/users.js"></script>
{% endblock %}
